/06_ejemplosExtras/build/
/05_Guia_8_colecciones/01_colecciones_1/Colecciones_Java/nbproject/private/
/05_Guia_8_colecciones/01_colecciones_1/Colecciones_Java/build/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/1_razas.de.perros/nbproject/private/
/05_Guia_8_colecciones/01_colecciones_1/Java_Colecciones-main/Ejercicio_1y2/build/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/1_razas.de.perros/build/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/3_alumnos/nbproject/private/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/3_alumnos/build/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/4_peliculas/nbproject/private/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/4_peliculas/build/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/5_paises/nbproject/private/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/5_paises/build/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/guia7_ejer_5_paises/nbproject/private/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/guia7_ejer_5_paises/build/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/tienda/nbproject/private/
/05_Guia_8_colecciones/02_Ejercicios de Aprendizaje_guia_Colecciones/tienda/build/