/guia8-EjemplosVarios/nbproject/private/
/guia8-EjemplosVarios/build/
/Guia8-Ej1/nbproject/private/
/guia8-ej1/nbproject/private/
/guia8-ej1/build/
/guia8-ej3/nbproject/private/
/guia8-ej3/build/
/guia8-ej4/nbproject/private/
/guia8-ej4/build/
/guia8-ej5/nbproject/private/
/guia8-ej6/nbproject/private/
/guia8-ej5/build/